<% if spree_current_user %>
  <li id="links-account">
    <%= link_to t(:my_account), spree.account_path %> / <%= link_to t(:logout), spree.destroy_user_session_path %>
  </li>
<% else %>
  <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
<% end %>
